/* This file is (generally) organized according to SMACSS */

/*
 *  Base
 */
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
       url('/theme/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: Apache 2.0 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/theme/fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('/theme/fonts/open-sans-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face { /* License: OFL 1.1 */
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('/theme/fonts/inconsolata-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/theme/fonts/inconsolata-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

a {
  color: #d9411e;
  text-decoration: none;
}
a:hover {
  color: #ff5a09;
}

body, html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #242121;
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  line-height: 2em;
}

blockquote {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 0.95em;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.5rem;;
  vertical-align: -2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

p { margin: 1em 0; }

pre, tt, code {
  background: #f7f7f7;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  font-family: 'Inconsolata', monospace;
  line-height: 1.4;
  margin: 0;
}
pre {
  margin: 0.2em 0;
  padding: 0.5em 1em;
}
tt, code {
  padding: 0.1em 0.3em;
}

/*
 *  Layout
 */
article { margin: 0 4em; }
main {
  background: #fff;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
main #content { flex: 1; }

@media screen and (min-width: 768px) {
  aside {
    width: 18em;
    height: 100%;
    position: fixed; top: 0; left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  main {
    border: 1px solid #dbdbdb;
    border-width: 0 1px;
    width: 62em;
    position: absolute; top: 0; left: 18em;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/*
 *  Modules
 */
aside {
  background-color: #fafafa;
  margin: 0;
}
aside h1 {
  background-color: #337ab7;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 0.2em;
  text-align: center;
}
aside h1 a { color: #eee; }
aside h1 a:hover {
  background-color: inherit;
  color: #eee;
  text-decoration: underline;
}
aside nav { font-size: 15px; }
aside nav ul { padding: 0; }
aside nav ul li { list-style: none; }
aside nav ul a {
  color: #444;
  display: block;
  padding: 0 0.5em 0 2em;
  transition: all 0.2s linear;
  transition-property: background, color;
}
aside nav ul a:hover {
  color: #eee;
  background: #428bca;
}
aside nav ul ul a { padding-left: 3em; }
aside nav ul ul ul a { padding-left: 4em; }

.breadcrumbs {
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  list-style: none;
}

.dc-rack {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
.dc-rack th, .dc-rack td {
  border: 0;
  border-bottom: 1px solid #bbb;
  padding: 0 0.5em;
}
.dc-rack th:nth-child(3) {
  border-bottom: 1px solid #000000;
}
.dc-rack td:nth-child(3) {
  border: 1px solid #000000;
  border-top: none;
  text-align: center;
}
.dc-rack td { vertical-align: middle; }

footer {
  border-top: #eee 1px solid;
  line-height: 0.7em;
  padding: 1em 0;
}
footer p {
  color: #777;
  font-size: 15px;
  margin: 2px;
  text-align: center;
}
footer span.break {
  display: block;
}
@media screen and (min-width: 1000px) {
  footer span.break { display: inline; }
}

.headerlink {
  font-size: 0.8em;
  margin-left: 0.3em;
  opacity: 0;
  transition: opacity 0.1s;
}
.headerlink .icon-link::before {
  content: '#';
}
h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink {
  opacity: 1.0;
}

.searchbox {
  border-top: 1px solid #bbb;
  margin: 0 2em;
  padding: 1em 0;
}
.searchbox input {
  border: 1px solid #ccc;
  color: #666;
  line-height: 1.7;
  padding: 0.2em 0.5em;
  width: calc(100% - 1em - 2px);
}

.todo {
  background: #d9edf7;
  border: 1px solid #bcdff1;
  color: #31708f;
  padding: 0.5em 1em;
}

/*
 *  State
 */
aside nav a.active {
  background: #e6e6e6;
}

/*
 *  Page Specific
 */

/* search results */
.tipue_search_content_bold { font-weight: bold; }
.tipue_search_content_title { margin-top: 1em; }
.tipue_search_content_text { border-bottom: 1px solid #eee; }
